{% extends "@c975LExceptionChecker/layout.html.twig" %}
{% trans_default_domain 'exceptionChecker' %}
{% set title = 'label.create'|trans({}, 'site') %}

{% block exceptionchecker_content %}
{# Info #}
    <p class="text-center">{{ 'text.info_url'|trans|raw }}</p>
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Submit #}
            <div class="form-group">
                <button type="submit" name="submit" title="{{ 'label.validate'|trans({}, 'site') }}" class="btn btn-lg btn-primary btn-block">
                    {{ 'label.validate'|trans({}, 'site') }}
                </button>
            </div>
    {{ form_end(form) }}
{# Javascript #}
    {{ include('@c975LExceptionChecker/forms/javascript.html.twig') }}
{% endblock %}
