{% extends "@c975LExceptionChecker/layout.html.twig" %}
{% trans_default_domain 'exceptionChecker' %}
{% set title = 'label.delete'|trans({}, 'site') ~ ': ' ~ exceptionChecker.id %}

{% block exceptionchecker_content %}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.delete'|trans({}, 'site') }}" class="btn btn-lg btn-danger btn-block">
                <span class="fas fa-trash"></span> {{ 'label.delete'|trans({}, 'site') }}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}