{% trans_default_domain 'ExceptionChecker' %}

<h2>ExceptionChecker Management</h2>
<p>
    The tools are accessible when the user is identified and has the necessary rights. A toolbar appears on each ExceptionChecker. It is also possible to manage the ExceptionCheckers from dashboard</a>.
</p>
<p>
    <strong>Create an ExceptionChecker</strong>: use the button {{ toolbar_button('', 'new') }}
</p>
<p>
    <strong>Modify an ExceptionChecker</strong>: use the button {{ toolbar_button('', 'modify') }}
</p>
<p>
    <strong>Duplicate an ExceptionChecker</strong> : use the button {{ toolbar_button('', 'duplicate') }}
</p>
<p>
    <strong>Delete an ExceptionChecker</strong>: use the button {{ toolbar_button('', 'delete') }}
</p>
<p>
    <strong>View the current version of an ExceptionChecker</strong>: use the button {{ toolbar_button('', 'display') }}
</p>
<p>
    <strong>Cancel</strong> : use the button {{ toolbar_button('', 'cancel') }}
</p>

<h2>Data requirements</h2>
<p>
    For each ExceptionChecker it is necessary to provide
</p>
<p>
    <strong>Url</strong>: url to be checked when an exception is throwed, i.e. "/wp-login.php". You can add "*" at the end to act as wildcard, i.e. "/wp*" to match "/wp-login", "/wp-admin", etc.
</p>
    <strong>Kind</strong>: what should be done if the url is matched (deleted, redirected, excluded).
</p>
<p>
    <strong>Redirect kind</strong> : kind of redirect if the url should be redirected (Asset, Route, Url).
</p>
<p>
    <strong>Redirect data</strong> : needed data for redirect, depending on the kind defined above.
    <ul>
        <li>Asset: path to your asset, i.e. "/path_to_asset"</li>
        <li>Url: relative or absolute url, i.e. "http://example.com"</li>
        <li>Route without parameters: "route_name"</li>
        <li>Route with one parameter: "route_name['param_key' => 'param_value']"</li>
        <li>Route with multiple parameters: "route_name['param_key' => 'param_value', 'another_param_key' => 'another_param_value']"</li>
    </ul>
</p>

<p class="text-center">
    <strong><a href="https://975l.com/en/pages/exception-checker-bundle">>> ExceptionChecker (Tutorials, screenshots, etc.) <<</a></strong>
</p>