{% extends "@c975LExceptionChecker/layout.html.twig" %}
{% trans_default_domain 'exceptionChecker' %}
{% set title = 'label.modify'|trans({}, 'toolbar') ~ ': ' ~ exceptionChecker.id %}

{% block exceptionchecker_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LExceptionChecker/tools.html.twig', 'modify', 'md', exceptionChecker) }}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.validate'|trans({}, 'toolbar') }}" class="btn btn-lg btn-primary btn-block">
                {{ 'label.validate'|trans({}, 'toolbar') }}
            </button>
        </div>
    {{ form_end(form) }}
{# Javascript #}
    {{ include('@c975LExceptionChecker/forms/javascript.html.twig') }}
{% endblock %}